# Проект "Кто хочет стать миллионером кинопроката?"

### Notebook для отвтеов на вопросы викторины

In [146]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [147]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1525,tt0419946,20000000,22165608,The Marine,John Cena|Kelly Carlson|Robert Patrick|Abigail...,John Bonito,War is Fine But The Fight Continues,A group of diamond thieves on the run kidnap t...,92,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Pacific...,10/13/2006,5.0,2006
669,tt0497465,15000000,96408652,Vicky Cristina Barcelona,Scarlett Johansson|Rebecca Hall|Javier Bardem|...,Woody Allen,Life is the ultimate work of art,Two girlfriends on a summer holiday in Spain b...,96,Drama|Romance,The Weinstein Company|Gravier Productions|Ante...,8/15/2008,6.7,2008
1582,tt0369339,65000000,217764291,Collateral,Tom Cruise|Jamie Foxx|Jada Pinkett Smith|Mark ...,Michael Mann,It started like any other night.,Cab driver Max picks up a man who offers him $...,120,Drama|Crime|Thriller,Paramount Pictures|DreamWorks SKG|Parkes/MacDo...,8/4/2004,6.7,2004
818,tt0377981,36000000,189712432,Gnomeo & Juliet,James McAvoy|Michael Caine|Maggie Smith|Julie ...,Kelly Asbury,A little adventure goes a lawn way.,"A version of Shakespeare's play, set in the wo...",84,Animation|Family,Starz Animation|Touchstone Pictures,1/13/2011,5.7,2011
135,tt1956620,40000000,126069509,Sex Tape,Cameron Diaz|Jason Segel|Rob Corddry|Ellie Kem...,Jake Kasdan,A movie about a movie they don't want you to see.,"When Jay and Annie first got together, their r...",97,Comedy,Escape Artists|Media Rights Capital|Sony Pictu...,7/17/2014,5.3,2014

In [148]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [149]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [150]:
data['profit']=data['revenue']-data['budget']

In [151]:
def count_genre(x):
    for s in x:
        s = s.split('|')
        for i in s:
            if i not in coll:
                coll[i] = 1
            else:
                coll[i] += 1
    return coll

In [152]:
def count_profit_genre(x):
    iterat = 0
    for l in x['genres']:
        for key in coll.keys():
            if key in l:
                if key not in prof:
                    prof[key] = x['profit'][iterat]
                else:
                    prof[key] += x['profit'][iterat]
        iterat += 1
    return prof

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [153]:
# тут пишем ваш код для решения данного вопроса:
filter_answer = data[data['budget'] == data['budget'].max()]
a1 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [154]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = a1
# если ответили верно, можете добавить комментарий со значком "+"
a1

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [155]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [156]:
filter_answer = data[data['runtime'] == data['runtime'].max()]
a2 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [157]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = a2
a2

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [158]:
filter_answer = data[data['runtime'] == data['runtime'].min()]
a3 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [159]:
answers['3'] = a3
a3

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [160]:
a4 = round(data['runtime'].mean())

In [161]:
answers['4'] = a4
a4

110

# 5. Каково медианное значение длительности фильмов?

In [162]:
a5 = round(data['runtime'].median())

In [163]:
answers['5'] = a5
a5

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [164]:
filter_answer = data[data['profit'] == data['profit'].max()]
a6 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [165]:
answers['6'] = a6
a6

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [166]:
filter_answer = data[data['profit'] == data['profit'].min()]
a7 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [167]:
answers['7'] = a7
a7

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [168]:
filter_answer = data[data['profit'] > 0]
a8 = filter_answer['imdb_id'].count()

In [169]:
answers['8'] = a8
a8

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [170]:
filter_answer = data.query('release_year==2008')[data.query('release_year==2008')[
    'profit'] == data.query('release_year==2008')['profit'].max()]
a9 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [171]:
answers['9'] = a9
a9

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [172]:
filter_answer = data.query('2014>=release_year>2012')[data.query('2014>=release_year>2012')[
    'profit'] == data.query('2014>=release_year>2012')['profit'].min()]
a10 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [173]:
answers['10'] = a10
a10

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [174]:
from collections import Counter

coll = Counter()
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
a11 = count_genre(data['genres']).most_common()[0][0]
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [175]:
answers['11'] = a11
a11

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [176]:
data2 = data.copy()
data2['genres'] = data2['genres'].apply(lambda x: x.split('|'))
data2 = data2.explode('genres')
a12 = data2[data2['profit'] > 0]['genres'].value_counts().head(1).index[0]

In [177]:
answers['12'] = a12
a12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [178]:
a13 = data.groupby('director')['revenue'].sum(
).sort_values(ascending=False).head(1).index[0]

In [179]:
answers['13'] = a13
a13

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [180]:
data3 = data.copy()
data3['director'] = data3['director'].apply(lambda x: x.split('|'))
data3 = data3.explode('director')
data3 = data3[data3['genres'].str.contains('Action')]
a14 = data3.groupby('director')['imdb_id'].count(
).sort_values(ascending=False).head(1).index[0]

In [181]:
answers['14'] = a14
a14

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [182]:
data4 = data.copy()
data4['cast'] = data4['cast'].apply(lambda x: x.split('|'))
data4 = data4.explode('cast')
a15 = data4[data4['release_year'] == 2012].groupby(
    'cast')['revenue'].sum().sort_values(ascending=False).head(1).index[0]

In [183]:
answers['15'] = a15
a15

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [184]:
data5 = data.copy()
data5['cast'] = data5['cast'].apply(lambda x: x.split('|'))
data5 = data5.explode('cast')
a16 = data5[data5['budget'] > data['budget'].mean()].groupby(
    'cast')['imdb_id'].count().sort_values(ascending=False).head(1).index[0]

In [185]:
answers['16'] = a16
a16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [186]:
data6 = data.copy()
data6['cast'] = data6['cast'].apply(lambda x: x.split('|'))
data6['genres'] = data6['genres'].apply(lambda x: x.split('|'))
data6 = data6.explode('cast')
a17 = data6[data6['cast'] == 'Nicolas Cage'].explode(
    'genres')['genres'].value_counts().head(1).index[0]

In [187]:
answers['17'] = a17
a17

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [188]:
data7 = data.copy()
data7['production_companies'] = data7['production_companies'].apply(
    lambda x: x.split('|'))
data7 = data7.explode('production_companies')
filter_answer = data7[data7['production_companies'] ==
                      'Paramount Pictures'].sort_values('profit').head(1)
a18 = f"{filter_answer['original_title'].values[0]} ({filter_answer['imdb_id'].values[0]})"

In [189]:
answers['18'] = a18
a18

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [190]:
a19 = data.groupby('release_year')['revenue'].sum(
).sort_values(ascending=False).head(1).index[0]

In [191]:
answers['19'] = a19
a19

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [192]:
data8 = data.copy()
data8['production_companies'] = data8['production_companies'].apply(
    lambda x: x.split('|'))
data8 = data8.explode('production_companies')
data8 = data8[data8['production_companies'].str.contains('Warner Bros')]
a20 = data8.groupby('release_year')['profit'].sum(
).sort_values(ascending=False).head(1).index[0]

In [193]:
answers['20'] = a20
a20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [194]:
data9 = data.copy()
data9 = data9[['release_date', 'release_year']]
data9['release_date'] = pd.to_datetime(data9['release_date'])
data9['month'] = data9['release_date'].dt.month
a21 = data9.groupby('month')['release_date'].count(
).sort_values(ascending=False).head(1).index[0]

In [195]:
answers['21'] = a21
a21

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [196]:
a22 = data9.query('month in [6,7,8]')['release_date'].count()

In [197]:
answers['22'] = a22
a22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [198]:
data23 = data.copy()
data23['release_date'] = pd.to_datetime(data23['release_date'])
data23['month'] = data23['release_date'].dt.month
data23 = data23.query('month in [12,1,2]')
data23['director'] = data23['director'].apply(lambda x: x.split('|'))
data23 = data23.explode('director')
a23 = data23.groupby('director')['imdb_id'].count(
).sort_values(ascending=False).index[0]

In [199]:
answers['23'] = a23
a23

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [200]:
data24 = data.copy()
data24['len_title'] = data['original_title'].apply(lambda x: len(str(x)))
data24['production_companies'] = data24['production_companies'].apply(
    lambda x: x.split('|'))
data24 = data24.explode('production_companies')
a24 = data24.groupby('production_companies')['len_title'].mean(
).sort_values(ascending=False).head(1).index[0]

In [201]:
answers['24'] = a24
a24

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [202]:
data25 = data.copy()
data25['overview_title'] = data['overview'].apply(lambda x: len(str(x)))
data25['production_companies'] = data25['production_companies'].apply(
    lambda x: x.split('|'))
data25 = data25.explode('production_companies')
a25 = data25.groupby('production_companies')['overview_title'].mean(
).sort_values(ascending=False).head(1).index[0]

In [203]:
answers['25'] = a25
a25

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [204]:
data26 = data.copy()
filter_answer = data26[data26['vote_average']
                       > data26['vote_average'].quantile(0.99)]
a26 = list(filter_answer['original_title'].values)

In [205]:
answers['26'] = a26
a26

['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [206]:
from itertools import combinations
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')
data27.cast = data27.cast.apply(lambda x: list(combinations(sorted(x), 2)))
a27 = data27.explode('cast').cast.value_counts().index[1]

In [207]:
answers['27'] = a27
a27

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [208]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [209]:
# и убедиться что ни чего не пропустил)
len(answers)

27